@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #747930 16.62%, #413700 85.61%);
}

/* Main ****/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
}

.header-image {
  height: 4.5rem;
}

.header-menu {
  display: flex;
  gap: 2rem;
}

.header-menu-item {
  font-family: 'Sarala', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1.12rem;
}

.contents {
  margin-bottom: 3rem;
  border-top: 0.25rem solid #fff2e7;
}

.contents-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
}

.contents-main-written {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contents-main-written-title {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 4rem;
  color: #fff2e7;
}

.contents-main-written-subtitle {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ecd6c4
}

.contents-main-written-button {
  background-color: #ecd6c4;
  width: 12rem;
  height: 3.75rem;
  border: none;
  box-shadow: 0.25rem 0.31rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #2F2325;
}

.contents-main-written-button:hover {
  background-color: rgba(236, 214, 196, 0.53);
  cursor: pointer;
}

.contents-main-image {
  height: 25rem;
}

.contents-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.contents-secondary-title {
  border-top: 0.25rem solid #fff2e7;
  padding-top: 3rem;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff2ef;
  margin-bottom: 1rem;
}

.contents-secondary-paragraph {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 1.12rem;
  color: #ecd6c4;
}

.footer {
  padding: 2rem;
  border-top: 0.25rem solid #fff2e7;
}

.footer-image{
  height: 3rem;
  display: block;
  margin: 0 auto;
}